.bio-info {
  background: rgb(89, 173, 109) ;
}

.bio-text {
  color: silver;
}

.robo-page {
  background: rgb(185, 185, 195);
}

.robo-name {
  color: rgb(0, 0, 255);
}

.robo-prof-body {
  padding-top: 70px;
  background: rgb(150, 150, 155);
}

.new-bot {
  background: rgb(175, 175, 175);
}

.welcome {

}

.dashboard-links {

}

#age {

}

#year {

}

#department {

}

#city {

}

#state {

}

#avatar {

}
